.header{
    width: 100%;
    height: 10%;
    display: block;
    background-color: #121212;
}

.inner_header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo_container{
    display: table;
    float: left;
    height: 80px;
    width: 204px;
    background-image: url("C:/Users/aliha/Desktop/The Dumpster/coding projects/daWebsite/images/website-logo-white.png");
    background-size: cover;
    transition: background-image 0.2s ease-in-out;
    cursor: pointer;
    a {
        size: inherit;
    }
    &:hover{
        background-image: url("C:/Users/aliha/Desktop/The Dumpster/coding projects/daWebsite/images/website-logo-gold.png");
        cursor: pointer;
    }
}




.navigation{
    float: right;
    height: 100%;
    a{
        height: 100%;
        display: table;
        float: left;
        padding: 0px 20px;
        li{
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            color: var(--secondary-900);
            font-family: 'Montserrat';
            font-size: 16px;
            cursor: pointer;
            transition: all 0.2s ease-in-out 0s;
            &:hover{
                color: var(--accent-900);
            }
        }
    }
}

.lang-img{
    width: 1em;
    height: 1em;
    margin-bottom: 3px;
    margin-right: 4px;
    vertical-align: middle;
}

.dropbtn, .dropdown-content{
    width: fit-content;
    display: table-cell;
    vertical-align: middle;
}

.dropbtn {
    background-color: var(--primary-500);
    color: var(--secondary-700);
    width: fit-content;
    padding: 12px;
    font-size: 16px;
    font-family: 'Montserrat';
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s; 
    &:hover{
        background-color: var(--primary-300);
        .dropdown-content{
            visibility: visible;
            opacity: 1;
            margin-top: 0;
        }
    }
}

.dropdown-content {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background:var(--accent-900);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.1s, 0.1s linear;
    a {
        color: black;
        font-family: 'Montserrat';
        text-decoration: none;
        display: block;  
        width: inherit;
        height: inherit;
        padding: 12px;
        font-size: 16px;
        float:none;
        display:list-item;
        position: relative;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: var(--accent-700);
        }
    }
}


.language-dropdown{
    display: table;
    vertical-align: middle;
    &:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        opacity: 1;
        visibility: visible;
    }
}
