@media (max-width: 768px) {

    .container{
        max-width: 640px;
    }

    .hero{
        background-color: #666;
        text-align: center;
        display: table;
        align-items: center;
        min-width: fit-content;
    }
    
    .hero p{
        font-size: 20px;
        margin-left: 25%;
    }
    
    .hero h1{
        white-space: nowrap;
        font-size: 36px;
        text-align: center;
    }

}